*{
    margin: 0;
    padding: 0;
    background-image: url(https://th.bing.com/th/id/R.5a143c7149b3ee4536fb0c16e565c967?rik=YneC%2f5lTjco4%2bQ&pid=ImgRaw&r=0);
}

h1 {
    font-size: 100px;
    color: gold;

}